@import '../../variables.scss';

.StoreItem {
  // This background is actually split and underlaying the photo a bit in the design,
  // but I'm focusing on other things instead.
  background-color: $color-octopus-light;

  h2 {
    margin-bottom: .5rem;

    font-size: $size-3;
    font-weight: bold;
  }

  &__Photo {
    padding: 0 $padding-gutter-slim;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__Headline {
    padding: .5rem $padding-gutter;
  }

  &__HeadlineTitle {
    font-size: $size-2;
    font-weight: bold;
    line-height: 1;
  }

  &__HeadlineSpec {
    color: $color-text-octopus-light; // Not quite right.
    font-size: $size-5;
    letter-spacing: 1.2;
  }

  &__Purchase {
    padding: 2rem $padding-gutter;

    background-color: $color-octopus-dark;
  }

  &__PurchaseInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
  }

  &__PurchasePrice {
    font-size: $size-2;
    font-weight: bold;

    // Making the pence look kinda like superscript. Quick solution for now.
    div {
      display: flex;
      align-items: flex-start;
    }

    span {
      line-height: 1;

      &:last-child {
        font-size: $size-4;
        position: relative;
        top: .1rem;
      }
    }
  
  }

  &__PurchaseQuantity {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-content: center;

    .subtitle {
      position: absolute;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%);

      color: $color-text-octopus-light;
      font-weight: bold;
      text-transform: uppercase;
    }

    .currentQuantity {
      padding: 0 .5rem;
      font-size: $size-3;
      line-height: 1;
    }

    button {
      display: inline-flex;
      justify-content: center;
      align-content: center;

      width: 32px;
      height: 32px;
      border-radius: 8px;
      border: none;
      
      color: $color-text;
      font-size: $size-4;
      font-weight: bold;
      background-color: #36598D;
    }
  }

  &__AddToCart {
    width: 100%;
    padding: 1rem;

    border: 2px solid $color-button;
    border-radius: 8px;

    background: linear-gradient(#FF7EB9, #FF4A9C 50%, transparent 51%), $color-button;
    color: $color-text;
    font-size: $size-3;
    font-weight: bold;

    cursor: pointer;

    &:disabled {
      border-color: transparent;
      background: $color-button;

      cursor: not-allowed;
    }
  }

  &__Details, &__Specification, &__Performance {
    padding: 1rem $padding-gutter;
  }
  &__Specification, &__Performance {
    background-color: $color-octopus-dark;
  }

  &__DetailsDescription {
    font-size: $size-5;
  }
}