@charset "utf-8";

@import './variables.scss';

// Bulma import
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border-top: 2px solid $color-link;

  font-family: 'Gotham SSm A','Gotham SSm B',helvetica,arial,sans-serif;
  background-color: $color-octopus-dark;
  color: $color-text;
}

a {
  color: $color-link;
  text-decoration: underline;
  font-size: $size-6;

  &:hover, &:focus {
    color: darken($color-link, 25%);
  }
}

button {
  cursor: pointer;
}

table {
  width: 100%;

  tr:not(:last-child) td {
    border-bottom: 2px solid $color-octopus-light;
  }

  td {
    padding: .25rem 0;
  }

  &:not(:last-child){
    margin-bottom: 1rem;
  }
}

.Content {
  line-height: 1.5rem;
  font-size: $size-5;
}

