$color-octopus-dark: #040E29;
$color-octopus-light: #00183C;
$color-octopus-highlight: #36598D;

$color-text: #fff;
$color-text-octopus-light: #6C7F9D;
$color-link: #FF0B7A;
$color-button: #FF0376;
$color-button-alt: #FF6CB0;

$padding-gutter: 2.5rem;
$padding-gutter-slim: 1rem;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;